<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Quotation</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
<link rel="stylesheet" href="css/style.css">
<style>
@page { size: A4 }
</style>
</head>
<body class="A4">
<div style="margin:auto; width:210mm;">
<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%; overflow:hidden;border-top:4px solid #FF6600; border-bottom:4px solid #FF6600; padding-top:7px; padding-bottom:7px; margin-bottom:25px;">
    <tr>
      <td width="45%">&nbsp;</td>
      <td width="16%">&nbsp;</td>
      <td width="4%">&nbsp;</td>
      <td width="35%">&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="5"><img src="images/logo.jpg" alt="" /></td>
      <td>&nbsp;</td>
      <td colspan="2" valign="top"><strong>Works1:</strong> A-7/108, A-7/109, A-7/110,South Side,
        GT Road Industrial Area, Ghaziabad, U.P. – 201009</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><strong>Works2: </strong>E-11 South East Zone MIA, Alwar301030</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Phone</strong></td>
      <td>: 0120-4562332</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="meta-head"><strong>Web</strong></span></td>
      <td style="color:#FF2413;">: www.thermodyneboilers.com</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Email</strong></td>
      <td style="color:#0000ff;">sales1@thermodyneboilers.com</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  
<table id="meta" style="width:100%;">
    <tr>
      <td width="29%"><strong>Ref: TD/180214/17321</strong></td>
      <td width="42%">&nbsp;</td>
      <td width="29%"><strong style="text-align:right; float:right;">February 14, 2018</strong></td>
    </tr>
    <tr>
      <td height="10" colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td><strong style="font-size:12px;">M/s KAFEEL AHMAD</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Visakhapatnam</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong style="font-size:12px;"><u>ANDHRA PRADESH</u></strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><h3 style="font-size:12px; margin-bottom:12px;">
          <center>
            <u>Kin<span class="style1">d Attn: Mr</span>. KAFEEL AHMAD</u>
          </center>
        </h3></td>
    </tr>
    <tr>
      <td><strong>Dear Sir,</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><h3 style="font-size:12px; margin:10px 0 15px 0px;">
          <center>
Subject: Offer for _____  , ____PSI, _______fired Steam Boiler
          </center>
        </h3></td>
    </tr>
    <tr>
      <td colspan="3"><p>This refers to the discussions had with you regarding your aforesaid requirement. We thank you for the interest shown in our products and are pleased to enclose herewith our offer for the aforesaid boiler.</p></td>
    </tr>
    <tr>
      <td height="5" colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><h3 style="font-size:12px;"><u>Our offer consists of the following annexure:</u></h3></td>
    </tr>
    <tr>
      <td height="5" colspan="3">&nbsp;</td>
    </tr>
  </table>
  
<table style="width:60%; margin:auto;">
    <tbody>
      <tr>
        <td>Annexure – I</td>
        <td>Company Profile</td>
      </tr>
      <tr>
        <td>Annexure – II</td>
        <td>What We Do</td>
      </tr>
      <tr>
        <td>Annexure – I </td>
        <td>Technical Details</td>
      </tr>
      <tr>
        <td>Annexure – II</td>
        <td>Scope of Supply</td>
      </tr>
      <tr>
        <td>Annexure – III </td>
        <td>Price Schedule</td>
      </tr>
      <tr>
        <td>Annexure – IV</td>
        <td>Terms & Conditions</td>
      </tr>
    </tbody>
  </table>
  
<table id="meta" style="width:100%;">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><p>We believe above to be in line with your requirement. Should you need any information, please feel free to contact us. </p></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><p>Thanking you and looking forward to your valued order.</p></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><p>Yours faithfully,</p></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" style="font-size:12px; font-weight:600;"><span style="font-weight:normal;">For</span> THERMODYNE ENGINEERING SYSTEMS,</td>
    </tr>
    <tr>
      <td colspan="3" style="font-size:15px; font-weight:600;">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><h3>DEBARATI CHATTERJEE</h3></td>
    </tr>
    <tr>
      <td colspan="3"><h3>9540062187</h3></td>
    </tr>
  </table>      
</article>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
<tr>
<td width="48%" valign="bottom"><h3 style="font-size:15px;">ANNEXURE - I</h3></td>
<td width="36%" valign="middle">&nbsp;</td>
<td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
</tr>
<tr>
  <td colspan="3" valign="bottom">&nbsp;</td>
  </tr>
</table>

<table style="width:100%;">
<tbody>
<tr>
<td style="background-color:#E1E1E1; padding:5px;"><center><h3>Company Profile</h3></center></td>
</tr>
</tbody>
</table>

<table id="meta" style="width:100%;">
<tr>
<td colspan="3">&nbsp;</td>
</tr>
<tr>
<td colspan="3"><p>Today’s competitive markets, industries need to contain their energy costs. Higher energy costs reduce profits and in some cases may even make the business uncompetitive. This is where we can contribute. We can help by providing high efficiency boilers, Energy consultancy and customized heating solutions. During last 15 years, more than 500 customers like L&T, Reliance, Merino Industries, Metso& Goodluck have benefited from our products & services</p></td>
</tr>
<tr>
<td colspan="3">&nbsp;</td>
</tr>
<tr>
<td colspan="3">&nbsp;</td>
</tr>
<tr>
  <td colspan="3"><center><img src="images/annexure-1.jpg" alt="" /></center></td>
  </tr>
<tr>
<td colspan="3">&nbsp;</td>
</tr>  
<tr>
<td colspan="3">&nbsp;</td>
</tr>
<tr>
  <td colspan="3"><p>Thermodyne understands how to zero-in on a client's energy needs and deliver practical, effective solutions that gives them competitive advantage in terms of lower operational costs. We are experienced in delivering high efficiency Boilers and heating equipments to suit the process requirements of our clients.</p></td>
  </tr>
<tr>
  <td colspan="3">&nbsp;</td>
</tr>  
<tr>
  <td colspan="3"><p>Through innovation and commitment to customer service, THERMODYNE has been consistently changing the way customers think about Steam Boilers. We are constantly striving to extend the Thermal Efficiency Levels, Waste Heat Recovery, Condensate Heat Recovery and Fuel conversions savings potential at customer’s end. Through our expertise in the field of Thermal Energy, we have garnered business from various verticals across the nation, while earning our clients’ trust along the way. We are therefore extremely proud of what we have achieved, and even more excited about our outlook for an equally promising future.</p></td>
  </tr>
<tr>
  <td colspan="3">&nbsp;</td>
</tr>  
<tr>
  <td colspan="3"><p>
Fuel savings are not only important for margins ,but also for environment .Industry can count on Thermodyne because we always believe in <strong style="color:#00B050; font-weight:700;">Enhancing Energy Efficiency</strong>
</p></td>
  </tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
    <tr>
      <td width="48%" valign="bottom"><h3 style="font-size:15px;">ANNEXURE – II</h3></td>
      <td width="36%" valign="middle">&nbsp;</td>
      <td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
    </tr>
    <tr>
      <td colspan="3" valign="middle">&nbsp;</td>
    </tr>
  </table>
  <table style="width:100%;">
    <tbody>
      <tr>
        <td style="background-color:#E1E1E1; padding:5px;"><center>
            <h3>What We Do</h3>
          </center></td>
      </tr>
    </tbody>
  </table>
  <table id="meta" style="width:100%;">
    <tr>
      <td colspan="3" valign="middle">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><center>
          <img src="images/annexure-11.jpg" alt="" />
        </center></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
<tr>
<td width="48%" valign="bottom"><h3 style="font-size:15px;">ANNEXURE – III</h3></td>
<td width="36%" valign="middle">&nbsp;</td>
<td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
</tr>
<tr>
  <td colspan="3" valign="middle">&nbsp;</td>
  </tr>
</table>

<table style="width:100%;">
<tbody>
<tr>
<td style="background-color:#E1E1E1; padding:5px;"><center><h3>Tecnical Details</h3></center></td>
</tr>
</tbody>
</table>

<table style="width:100%; margin-top:15px;">

<tbody>
<tr>
<td width="50%">BOILER TYPE </td>
<td width="50%">Shell & Tube Type, Lined with
Membrane Water Wall panel,
Smoke cum Water tube type steam
boiler – <strong>COMBITHERM </strong></td>
</tr>
<tr>
<td>MODEL</td>
<td>CTF – 20 Ultra</td>
</tr>
<tr>
<td>STEAMING CAPACITY (f &amp;a  100deg.C) </td>
<td>2000 Kg/hr</td>
</tr>
<tr>
<td>MAXIMUM WORKING PRESSURE </td>
<td>150 PSI (G),10.54 Kg/hr</td>
</tr>
<tr>
<td>STEAM QUALITY</td>
<td>Dry, Saturated</td>
</tr>
<tr>
<td>FUEL</td>
<td>Husk</td>
</tr>
<tr>
<td>FIRING</td>
<td>Automatic</td>
</tr>
<tr>
<td>DESIGN CODE</td>
<td>IBR 1950 with Latest Amendments</td>
</tr>
<tr>
<td>THERMAL EFFICIENCY</td>
<td>80% + 2%</td>
</tr>
<tr>
<td>SPACE REQUIREMENT (L X W X H)</td>
<td>10m x 8m x 6m</td>
</tr>
</tbody>
</table>
<br /><h3 style="font-size:15px;">FORCED DRAFT FAN</h3><br />

<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Type</td>
<td width="50%">Centrifugal, Directly Coupled</td>
</tr>
<tr>
<td>Capacity (m3/hr at 30 deg.C)</td>
<td>9600</td>
</tr>
<tr>
<td>Head (mm WC)</td>
<td>200</td>
</tr>
<tr>
<td>RPM</td>
<td>2900</td>
</tr>
</tbody>
</table>
<br /><h3 style="font-size:15px;">INDUCED DRAFT FAN</h3><br />

<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Type</td>
<td width="50%">Centrifugal, Coupled through pulley</td>
</tr>
<tr>
<td>Capacity (m3/hr at 30 deg.C)</td>
<td>18000 </td>
</tr>
<tr>
<td>Head (mm WC), RPM</td>
<td>175 </td>
</tr>
<tr>
<td>RPM</td>
<td>1400 </td>
</tr>
</tbody>
</table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
<tr>
  <td width="48%" valign="middle">&nbsp;</td>
  <td width="36%" valign="middle">&nbsp;</td>
  <td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
</tr>
</table>
<div style="clear:both;"></div>

<br /><h3 style="font-size:15px;">FEED WATER PUMPS</h3><br />
<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Type</td>
<td width="50%">Multistage, Centrifugal type</td>
</tr>
<tr>
<td>Quantity</td>
<td>02 Sets</td>
</tr>
<tr>
<td>Capacity (m3/hr)</td>
<td>7.2</td>
</tr>
<tr>
<td>Head</td>
<td>120 m WC</td>
</tr>
</tbody>
</table>

<br /><h3 style="font-size:15px;">HEAT RECOVERY UNIT</h3><br />

<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Type</td>
<td width="50%">Shell & Tube type, Inline</td>
</tr>
<tr>
<td>Tube Diameter</td>
<td>63.5 mm OD</td>
</tr>
</tbody>
</table>

<br /><h3 style="font-size:15px;">MEMBRANE WATER WALL PANEL</h3><br />
<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Bottom Headers</td>
<td width="50%">SA-106 Gr B</td>
</tr>
<tr>
<td>Top Header</td>
<td>SA-106 Gr B </td>
</tr>
<tr>
<td>Tube type</td>
<td>BS-3059 Part-I, ERW</td>
</tr>
</tbody>
</table>

<br /><h3>MAKES OF BOUGHT-OUT ITEMS</h3><br />

<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Tubes</td>
<td width="50%">Tata / Jindal</td>
</tr>
<tr>
<td>Plates</td>
<td>Imported / S.A.I.L.</td>
</tr>
<tr>
<td>Motors</td>
<td>Crompton / Kirloskar / ABB </td>
</tr>
<tr>
<td>Electricals &amp; Switch Gears</td>
<td>L&amp;T / Schneider / Siemens</td>
</tr>
<tr>
<td>Valves </td>
<td>Sant / Equivalent</td>
</tr>
<tr>
<td>Safety Valves</td>
<td>Darling Muesco /Brightech/ Equivalent</td>
</tr>
<tr>
<td>Water Level Controller</td>
<td>Malhotra Brothers</td>
</tr>
<tr>
<td>Feed Pumps</td>
<td>CNP / Equivalent</td>
</tr>
<tr>
<td>Fans</td>
<td>Thermodyne/ Equivalent</td>
</tr>

</tbody>
</table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
<tr>
  <td width="48%" valign="middle">&nbsp;</td>
  <td width="36%" valign="middle">&nbsp;</td>
  <td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
</tr>
</table>
<div style="clear:both;"></div>

<br /><h3>RECOMMENDED FEED WATER QUALITY</h3><br />

<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Total Hardness as CaCO3, ppm</td>
<td width="50%"> 5 (Commercial Zero)</td>
</tr>
<tr>
<td>pH Value</td>
<td>8.5 - 9.5</td>
</tr>
<tr>
<td>Oil / Organic Matter</td>
<td>Not Detectable</td>
</tr>
<tr>
<td>Oxygen</td>
<td>0.05 mg/Litres</td>
</tr>
</tbody>
</table>

<br /><h3>RECOMMENDED BOILER WATER QUALITY</h3><br />
<table style="width:100%;">
<tbody>
<tr>
<td width="50%">Total Hardness as CaCO3, ppm</td>
<td width="50%">Not Detectable</td>
</tr>
<tr>
<td>Sodium Phosphate Na2PO4, ppm </td>
<td>50 – 100</td>
</tr>
<tr>
<td>Caustic Alkalinity as CaCO3, ppm</td>
<td>Min: 350</td>
</tr>
<tr>
<td>Silica as SiO2</td>
<td>< 0.4% of Caustic Alkalinity</td>
</tr>
<tr>
<td>Total Alkalinity as CaCO3, ppm</td>
<td>Min: 1200</td>
</tr>
<tr>
<td>Sodium Sulphide as Na2SO3, ppm</td>
<td>30 - 70</td>
</tr>
<tr>
<td>Hydrazine (N2H4), ppm </td>
<td>0.1 – 1</td>
</tr>
<tr>
<td>Total Dissolved Solids, ppm </td>
<td>Max: 3500</td>
</tr>
<tr>
<td>Suspended Solids, ppm </td>
<td>Max: 50</td>
</tr>
</tbody>
</table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
<tr>
<td width="81%" valign="bottom"><h3 style="font-size:15px;">ANNEXURE - IV</h3>
<h3 style="font-size:15px;">CTP Model – COMBITHERM – PETCOKE / HUSK / CRUSHED COAL FIRED</h3></td>
<td width="3%" valign="middle">&nbsp;</td>
<td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
</tr>
<tr>
  <td colspan="3" valign="middle">&nbsp;</td>
  </tr>
</table>

<table style="width:100%;">
<tbody>
<tr>
<td style="background-color:#E1E1E1; padding:5px;"><center>
  <h3>Scope of Supply</h3>
</center></td>
</tr>
</tbody>
</table>
<br />

<table id="meta" style="width:100%;">
<tr>
<td colspan="2"><h3 style="font-size:15px;">STANDARD SUPPLY</h3></td>
</tr>
<tr>
<td colspan="2"><h4 style="margin:15px 0 10px 0px;">PRESSURE PARTS:</h4></td>
</tr>
<tr>
  <td width="3%">&nbsp;</td>
  <td width="97%"><ul>
    <li>1 No. Shell &amp; Tube Type Heat Exchanger</li>
    </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>1 Set Risers and Down-comers</li>
    </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>1 Set Membrane Type Water Wall Panel</li>
  </ul>  </td>
</tr>
<tr>
  <td colspan="2"><h4 style="margin:10px 0 10px 0px;">NON-PRESSURE PARTS:</h4></td>
  </tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>Smoke Chambers</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>Saddles for shell boiler &amp; Membrane water wall panel assembly</li>
  </ul>  </td>
</tr>
<tr>
  <td colspan="2"><h4 style="margin:10px 0 10px 0px;">MOUNTINGS AND FITTINGS:</h4></td>
  </tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>1 No. Main Steam Stop Valve</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>2 Nos. Safety Valves</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>1 No. Blow-down Valve</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>2 Nos. Drain valves in Membrane headers</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>1 No. Dial type Steam Pressure Gauge</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>2 Nos. Non return valves with globe valves for feed line.</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>2 Nos. Water Level Gauge Sets</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>1 No. Magnetic Float type On/Off Water level Controller</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>1 No. Isolation Valve for Pressure Gauge</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>2 Nos. Mobrey Isolation Valves on Boiler</li>
  </ul>  </td>
</tr>
<tr>
  <td colspan="2"><h4 style="margin:10px 0 10px 0px;">INSTRUMENTS, CONTROLS AND SAFETIES:</h4></td>
  </tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>Automatic Water Level controller for Pump On/Off</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>Pressure Gauge for steam</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>Pressure Gauge for water</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>Fusible Plug</li>
  </ul>  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>On / Off selector switches &amp; Indicating lamps for all motors</li>
  </ul>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><ul>
    <li>Alarm for Abnormal Operating conditions</li>
  </ul>
  </td>
</tr>
</table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
    <tr>
      <td width="48%" valign="middle">&nbsp;</td>
      <td width="36%" valign="middle">&nbsp;</td>
      <td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
    </tr>
  </table>
  <div style="clear:both;"></div>
  <table id="meta" style="width:100%;">
    <tr>
      <td colspan="2"><h3 style="font-size:15px; margin:0 0 10px 0px;">ACCESSORIES:</h3></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>2 Nos. Feed Water Pumps with Motors</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>1 No. Control Panel with Control Wiring</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li style="margin:3px 0 3px 0px;"><strong>Induced Draft Fan:</strong></li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>   Centrifugal fan along with motor, base frame &amp; belt drive assembly</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li><strong>Forced Draft Fan:</strong></li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>   Centrifugal fan along with motor, base frame &amp; Inlet damper</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="font-size:15px; margin:10px 0 10px 0px;">ADDITIONAL SUPPLY</h3></td>
    </tr>
    <tr>
      <td colspan="2"><h4 style="margin:0 0 0 0px;">FLUIDISATION KIT CONSISTING OF FOLLOWING:</h4></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Secondary air system with nozzles &amp; damper</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Screw feeder with gear box &amp; motor</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Variable Frequency Drive (VFD) for feeder</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Fuel spray nozzle with damper</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>CI nozzles for fuel firing</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Plennum chamber with bed material drain pipes</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h4 style="margin:10px 0 0 0px;">AIR PRE-HEATER:</h4></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Shell &amp; Tube type Air pre heater</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Ash discharge hopper</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h4 style="margin:10px 0 0 0px;">POLLUTION CONTROL EQUIPMENT</h4></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Cyclone dust collector</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Ash discharge hopper</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h4 style="margin:10px 0 0 0px;">EXCLUSIONS:</h4></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Civil Works and foundation</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Steam, water &amp; drain piping.</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Fire doors, ash removal doors</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Power Wiring up-to terminal points of Motors</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Water Softening Plant (can be offered additionally)</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Fuel Preparation, Handling and Firing System</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Ash Collection &amp; Disposal System</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Anything not specifically mentioned above</li>
        </ul></td>
    </tr>
  </table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
    <tr>
      <td width="48%" valign="bottom"><h3>ANNEXURE - V</h3></td>
      <td width="36%" valign="middle">&nbsp;</td>
      <td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
    </tr>
    <tr>
      <td colspan="3" valign="bottom">&nbsp;</td>
    </tr>
  </table>
  <table style="width:100%;">
    <tbody>
      <tr>
        <td style="background-color:#E1E1E1; padding:5px;"><center>
            <h3>Price Schedule</h3>
          </center></td>
      </tr>
    </tbody>
  </table>
  <br />
  <div style="clear:both;"></div>
  <p>Price for supply of Pet Coke / Husk / Crushed Coal fired Steam boiler as per enclosed
    specifications:</p>
  <br />
  <table style="width:100%;">
    <tbody>
      <tr>
        <td width="5%"><strong>S.No</strong></td>
        <td width="24%"><strong>MODEL</strong></td>
        <td width="71%"><strong>PRICE(Rs)</strong></td>
      </tr>
      <tr>
        <td>1</td>
        <td>CTP-60</td>
        <td>Rs.32,30,000/-
          (Rs. Thirty Two Lacs Twenty Thirty Thousand Only)</td>
      </tr>
    </tbody>
  </table>
  <table id="meta" style="float:left; width:100%;">
    <tbody>
      <tr>
        <td colspan="2"><h3 style="font-size:15px; margin:10px 0 10px 0px;">SUPERVISION CHARGES: Extra @ 5%</h3>
          Note: The above prices are basic ex-works, Ghaziabad. Packing &amp; forwarding @ 2%,
          GST @ 18%, freight up-to your site and transit insurance shall be charged extra as
          applicable at the time of dispatch.<br />
        </td>
      </tr>
      <tr>
        <td colspan="2"><h3 style="font-size:15px; margin:10px 0 0 0px;"><strong>Our GSTIN no: 09AATPS6016R1ZL</strong></h3></td>
      </tr>
      <tr>
        <td colspan="2"><h3 style="margin:10px 0 10px 0px;">Our Bank Details:</h3></td>
      </tr>
      <tr>
        <td width="105" class="meta-head"><strong>Account Name-</strong></td>
        <td width="583">Thermodyne Engineering Systems,</td>
      </tr>
      <tr>
        <td class="meta-head"><strong>Bank -</strong></td>
        <td>ICICI bank,</td>
      </tr>
      <tr>
        <td class="meta-head"><strong>Branch -</strong></td>
        <td>Mahiuddin Pur Kanawani ,  Exotica Elegance, Indirapuram, Ghaziabad</td>
      </tr>
      <tr>
        <td class="meta-head"><strong>Account no. -</strong></td>
        <td>244451000001</td>
      </tr>
      <tr>
        <td class="meta-head"><strong>IFSC code -</strong></td>
        <td>ICIC0002444</td>
      </tr>
      <tr>
        <td class="meta-head"><strong>swift code: </strong></td>
        <td>ICICI NBLRI</td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <br />
  <br />
  <div style="clear:both;"></div>
  <table id="meta" style="width:100%;">
    <tr>
      <td colspan="2"><h3 style="margin:10px 0 10px 0px; font-size:15px;">PAYMENT TERMS:</h3></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>40% plus applicable GST as advance along-with the order</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Balance payment along-with applicable GST against pro-forma invoice prior to dispatch.</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="font-size:15px; margin:10px 0 10px 0px;">VALIDITY:</h3></td>
    </tr>
    <tr>
      <td colspan="2">30 days, subject to written confirmation thereafter</td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="font-size:15px; margin:10px 0 10px 0px;">WARRANTEE:</h3></td>
    </tr>
    <tr>
      <td colspan="2">The equipments supplied by us shall be covered under warrantee against any manufacturing defect for a period of 12 months from the date of dispatch.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="font-size:15px;">For THERMODYNE ENGINEERING SYSTEMS,</h3></td>
    </tr>
  </table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
<tr>
<td width="48%" valign="bottom"><h3>ANNEXURE – VI</h3></td>
<td width="36%" valign="middle">&nbsp;</td>
<td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
</tr>
<tr>
  <td colspan="3" valign="middle">&nbsp;</td>
  </tr>
</table>

<table style="width:100%;">
<tbody>
<tr>
<td style="background-color:#E1E1E1;"><center>
  <h3>Terms & Conditions</h3>
</center></td>
</tr>
</tbody>
</table>
<br />

<table id="meta" style="width:100%;">
<tr>
<td colspan="2">
<h3>1. ORDER CONFIRMATION</h3>
<p>All order placed on us directly or through our regional offices / marketing agents will be binding on us only after our head office has accepted the order confirmation.</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">2.PACKING & FORWARDING</h3>
<p>Packing, wherever necessary, shall be done by us as per our standard practice. The charges for the same shall be given in our offer / quotation</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">3. INSPECTION</h3>
<p>If necessary the goods shall be offered for visual inspection only at our works / our vendor’s / supplier’s works. The date of inspection shall be intimated by us about one week in advance. If inspection is not carried out on the date so advised, we shall be free to proceed further as per our planned schedule.</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">4. MODE OF DELIVERY</h3>
<p>All delivery shall be ex our works, Ghaziabad / ex our supplier’s vender’s works. The goods may be dispatched in one or separate lots at our option. In case the purchaser wants us to arrange for dispatch on his / her behalf, we shall arrange to do so by road transport only on “freight to pay” basis on the clear understanding that no liability is attached to us. The freight charges contracted by us on behalf of the purchaser will be treated as negotiated under the purchaser’s authority and shall therefore be final.</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">5. WAREHOUSING CLAUSE</h3>
<p>If payment is not made within 15 days of the date of pro-forma invoice, we reserve the right to divert the ordered goods. We shall give you a fresh delivery period and price at the time of diversion, which will be binding on the purchaser and the contract cannot be rendered void on this account. If the goods cannot be diverted, charges will be made for storage, insurance and interest at the rate 1% of the invoice value for each week or part there of commencing 15 days from the date of pro-forma invoice.</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">6.ADVANCE</h3>
<p>Advance paid against any orders shall not be subject to any interest. We will have the right to adjust against such advances payments, which might become due because of delay in lifting the ordered equipment or because of any other expenses we may have to incur on the purchaser’s behalf. The advance shall be forfeited in case we accept the request for cancellation of order</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">7. TAXES & DUTIES</h3>
<p>All applicable taxes / duties as per Government notifications, issued from time to time and their amendments would be payable extra by the client. The rates of these taxes shall be as in force at the time of dispatch</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">8. FORCE MAJEURE</h3>
<p>The offer is subject to force majeure by which it means causes such as war, invasion, civil disobedience, government order or restriction, strikes, lock-outs, riots, fires, epidemics, sabotages, trade embargoes, floods, earth quakes, accidents, break down of machineries, delay or inability in obtaining labour, raw materials, wagons shipping space etc. any other cause beyond our reasonable control affecting us or our vendors / suppliers / sub- contractors etc.</p>
</td>
</tr>
<tr>
<td colspan="2">
<h3 style="margin:7px 0 0 0px;">9. WARRANTY</h3>
<p>We take utmost care to ensure highest product quality and our products / equipment can be relied for long & trouble free service. We undertake to make good by replacement or repair, defects arising out of faulty design, material or workmanship within 12 months of the date of dispatch, providing if we so desire, the part in respect of which a claim is made, must be sent at purchaser’s expense at our works before liability can be entertained under this clause. Such expense will be refunded if our liability is admitted.</p><br /><br />

<p>Bought out components are guaranteed by us only to the extent of guarantees given to us by our suppliers. Electrical components such as heaters, motors, contactors, rubber components, gaskets, instruments such as pressure gauges, temperature indicators, and combistat and gauge glasses are not covered under this warranty.</p>
</td>
</tr>
<tr>
  <td width="3%">&nbsp;</td>
  <td width="97%">&nbsp;</td>
</tr>
</table>
</section><!--section close-->

<section class="sheet padding-10mm">
<article>
<table id="meta" style="width:100%;">
    <tr>
      <td width="48%" valign="middle">&nbsp;</td>
      <td width="36%" valign="middle">&nbsp;</td>
      <td width="16%" valign="middle"><img src="images/logo-2.jpg" alt="" style="text-align:right;" /></td>
    </tr>
  </table>
  <div style="clear:both;"></div>
  <table id="meta" style="width:100%;">
    <tr>
      <td colspan="2"><h3 style="margin:7px 0 0 0px;">This warranty is valid subject to</h3></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Installation having been completed within 3 months of dispatch of equipment.</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>Installation done to our satisfaction if is not done by us.</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>The equipment not being subject to accident, alteration or misuse</li>
        </ul></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><ul>
          <li>The equipment being operated as per our operation &amp; maintenance manual by reasonable trained  personnel. </li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="margin:7px 0 0 0px;">10. ERECTION</h3>
        Erection service offered at the rate, terms and conditions mentioned in the offer / quotation covers provision of
        skilled personnel and supervision. The following shall be express excluded from our scope and shall be provided
        by the client:</td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Foundation & civil work</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Unloading of equipment from truck / trailers on to foundation.</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Provision of unskilled labourers.</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Provision of tools and tackles e.g. welding / gas cutting set, hand tools, chain blocks etc. </li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Supply of utilities e.g. water, electricity, gases etc. </li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="margin:7px 0 0 0px;">11. COMMISSIONING</h3>
        Commissioning service offered at the rate, terms and conditions mentioned in the offer / quotation covers  reasonable no. of visits / meetings to: </td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Finalise installation details and site preparation for the equipment in advance before delivery</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Help in making foundation.</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Ensure the installation is in accordance with our recommendations.</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Commissioning the unit for a short run to monitor mechanical working and to set controls as may be  necessary</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="margin:7px 0 0 0px;">12. HANDING OVER</h3>
        Unless otherwise expressly specified in the order and accepted by us, handing over of the equipment would be
        considered as complete and a formal completion certificate shall be issued by purchaser / user if: </td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>The material has been supplied as per the scope of supply or with agreed deviations.</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>Erection, if involved, has been completed, generally as per the terms of the order with unavoidable  deviations. </li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>The equipment has been commissioned, if applicable, generally as agreed</li>
        </ul></td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%"><ul>
          <li>The equipment and / or installation has been put to commercial use either with or without the help of our  Engineer.</li>
        </ul></td>
    </tr>
    <tr>
      <td colspan="2">The purchaser / user is expected to put the equipment / installation to commercial use only after issuing a formal
        completion certificate. Our responsibilities in terms of warranty shall cease if the equipment / installation is put to
        use without formal taking over.</td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="margin:7px 0 0 0px;">13. CANCELLATION</h3>
        Order received and accepted by us shall not be subject to cancellation either wholly or partly for any reason what
        so ever without our consent in writing. </td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="margin:7px 0 0 0px;">14. JURISDICTION</h3>
        All contracts between purchaser and ourselves are deemed to be entered into New Delhi and shall be subject to  the jurisdiction of courts at New Delhi / Delhi. </td>
    </tr>
    <tr>
      <td width="3%">&nbsp;</td>
      <td width="97%">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><h3 style="margin:0 0 10px 0px;">For THERMODYNE ENGINEERING SYSTEMS </h3></td>
    </tr>
    <tr>
      <td colspan="2"><h3>Sales Co-ordinator</h3></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</section><!--section close-->
</div>

</body>
</html>
